.see-through{
    opacity:0.9;
}

.sticky-post-header {
    top: 0;
    position: fixed;
    background: #F4F4F4;
    width: 100%;
}

.marginize-post-body {
    margin-top: 60px;
}

body {
    background: #F4F4F4;
}
